# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log
logs/*.log*
!logs/.gitkeep
local_settings.py

# Virtual env
.venv/
venv/
env/

# Secrets / env
.env
.env.*
!.env.example

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
